.tooltip-container {
  position: relative;
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: rgba(110, 132, 192, 0.822);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -5px;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  animation: breathe 1.5s ease-in-out infinite;
}

.type-3 {
  margin-top: 2%;
  padding: 10px;
  background-image: linear-gradient(
    100deg,
    rgba(218, 178, 255, 0.856) 0%,
    rgba(142, 197, 252, 0.75) 100%
  );
  height: auto;
  border-radius: 10px;
}

@keyframes breathe {
  0%,
  100% {
    transform: translate(-50%, -100%) scale(1);
  }
  50% {
    transform: translate(-50%, -100%) scale(1.05);
  }
}

.greeting-bubble {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.greeting-bubble::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
}

.mb-3 {
  width: 85%;
  margin-left: 8%;
}

.container {
  padding: 10px;
  background: rgb(255, 255, 255);
  /* background-image: linear-gradient(100deg, #efdeff 0%, #cae3ff 100%); */
  height: 600px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.274);
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px; /* This will be the width of the gradient border */

  background-image: linear-gradient(to bottom, #b2b0ff, #b4d9ff);

  border-radius: 15px 0 0 15px; /* Apply border-radius only to the left side */
}

.form-control {
  display: block;
  border: 2px solid #d6d6d6;
  padding: 8px;

  margin-bottom: 5px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

textarea {
  border: 1px solid #ccc;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fb;
}

/* textarea::placeholder {
  background-color: #f8f9fb;
  padding: 8px;
} */
.personalI {
  margin-left: 8%;
}

.form-control[type="text"] {
  background-color: #f8f9fb;
}

.form-control[type="email"] {
  background-color: #f8f9fb;
}

.form-control[type="date"] {
  background-color: #f8f9fb;
}

.form-control[type="textarea"] {
  background-color: #f8f9fb;
}

.mb-3 button {
  float: right;
}
