.priority-matrix-section {
  margin: 20px 0;
  text-align: center;
  max-width: 400px;
  height: 500px;
  /* overflow-y: auto; */
}

.priority-matrix-section .priority-matrix {
  overflow-x: auto;
}

.priority-matrix-section .priority-matrix table {
  border-collapse: collapse;
  width: 100%;
}

.priority-matrix-section .priority-matrix table th,
.priority-matrix-section .priority-matrix table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.priority-matrix-section .priority-matrix table th {
  background-color: #f2f2f2;
}

.priority-matrix {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  height: 500px;
  overflow-y: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}
