@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  overflow-x: hidden;
  background-image: linear-gradient(
    100deg,
    rgba(224, 195, 252, 0.75) 0%,
    rgba(142, 197, 252, 0.75) 100%
  );
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  filter: url("#goo");
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* .slide-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in.visible {
  opacity: 1;
  transform: translateY(0);
} */

.surveypage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
  width: 100%;
  height: 100%;
}
.content-1 {
  width: 60%;
  gap: 50px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.survey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic-input-wrapper {
  margin-top: 150px; /* Adjust the value as needed */
}
.interview-navi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Or, if you prefer to use padding */
.questions-display-wrapper {
  margin-top: 100px; /* Adjust the value as needed */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Greetings {
  width: 50%;
  margin-top: 200px;
}

.current-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.react-quill-container {
  height: 150px; /* 或你需要的高度 */
  margin-bottom: 50px;
  /* padding: 10px; */
  width: 100%;
}

/* 自定义编辑器工具栏样式 */
.ql-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

/* 自定义编辑器内容区域样式 */
.ql-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  border: 1px solid #ccc;
  background-color: #ffffff79;
}

/* 自定义编辑器文本样式 */
.ql-editor {
  min-height: 100px; /* 设置编辑器的最小高度 */
  padding: 12px;
  font-size: 16px; /* 设置编辑器内文本的大小 */
  line-height: 1.6; /* 设置编辑器内文本的行高 */
}

.chatbox button {
  margin-top: 10px;
}

.content-2 button {
  display: inline-block;
  padding: 1em 2em;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 25px rgba(233, 30, 99, 0.5);
  outline: 0;
  transition: transform ease-in 0.1s, background-color ease-in 0.1s,
    box-shadow ease-in 0.25s;
}

.content-2 button::before {
  position: absolute;
  content: "";
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  pointer-events: none;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    /*  */ radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
    100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
    100% 100%;
  background-size: 0% 0%;
  transition: background-position 0.5s ease-in-out,
    background-size 0.75s ease-in-out;
}
.content-2 button:active::before {
  transition: 0s;
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
    65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
    64% 70%, 80% 71%;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
  height: auto;
}

.keywords-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keywords-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 100px;
}

.summary-title {
  margin-top: 10px;
}

.keyword-item {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  margin-right: 10px;
}

.keyword-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: auto;
}

.chatbox {
  padding: 10px;
  background-image: linear-gradient(
    100deg,
    rgba(218, 178, 255, 0.856) 0%,
    rgba(142, 197, 252, 0.75) 100%
  );
  height: auto;
  border-radius: 10px;
}

.current-question {
  gap: 50px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-q-content {
  position: relative;
  background-color: rgba(
    185,
    210,
    243,
    0.534
  ); /* White background for the bubble */
  /* border: 2px solid blue;  */
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  animation: pulse-cq 2s infinite ease-in-out;
}

.current-q {
  font-size: 16px; /* Adjust font size as needed */
  line-height: 1.5; /* For better readability */
}

/* Tail of the speech bubble */
.tail {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(185, 210, 243, 0.534);
  transform: translate(-50%, 50%) rotate(45deg);
}

/* To ensure the tail blends with the bubble */
.current-q-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: rgba(51, 72, 100, 0.534) transparent;
  transform: translate(-50%, 0%);
}

@keyframes pulse-cq {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02); /* Slightly larger */
  }
  100% {
    transform: scale(1);
  }
}

.sentiment-container {
  margin-top: 20px;
}

.custom-progress-bar {
  background-color: #e9ecef; /* This is the default background color, you may adjust as needed */
  border-radius: 5px; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, for a slight shadow */
  height: 10px; /* Adjust the thickness of your progress bar */
  width: 100%;
}

.custom-progress-bar .progress-bar {
  background-color: #68cc58; /* Soft blue color similar to your image */
  border-radius: 5px; /* Keep it consistent with the container */
}

.interview-navi p {
  color: #007bff; /* Link color */
  font-weight: bold;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.interview-navi p:hover {
  color: #c82fce; /* Darker shade of blue on hover */
}

.gotointerviewee {
  margin-top: 50px;
}
